/*
 * SPDX-FileCopyrightText: 2024 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

@import "variables.scss";

@import '~@tol/tol-ui/src/scss/tol-styling.scss';



.sub-heading {
  margin-bottom: 12px !important;
}

p.text {
  margin-bottom: 12px;
}

.form-info {
  margin: 6px 0 12px 3px !important;
  color: var(--bs-secondary-color) !important;
  font-size: 12px !important;
}

.request-value {
  color: var(--primary) !important;
}

.add-species-alert-wrapper {
  font-size: 14xp;

  .alert {
    padding: 4px;
    margin-bottom: 5px;
  }
}

.add-species-wrapper {
  padding: 8px;

  p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.add-species-textarea {
  width: 100%;
  min-height: 125px;
  font-size: 18px;
  padding: 12px;
}

.add-species-button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.pending-button-styling {
  min-width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.generic-button-wrapper {
  padding: 5px 8px;
}