<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ToLID API - Tree of Life Identifiers</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/one-page-wonder.min.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">ToLID API</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
<!--        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Log In</a>
          </li>
        </ul>
-->
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">ToLID API</h1>
        <h2 class="masthead-subheading mb-0">Tree of Life Identifiers</h2>
        <a href="api/v2/ui" class="btn btn-primary btn-xl rounded-pill mt-5">Use the API</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">What are ToLIDs?</h2>
            <p>ToLIDs are unique IDs for individual specimen. They facilitate recognition and communication and support taxonomy context. For example, ilAlcRepa1 is "insect", "lepidoptera", "Alcis", "repandata", "first individual sampled". The ToLID API allows anyone to lookup ToLIDs and authorized users to create new ones.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="p-5">
            <h2 class="display-4">How can I use them?</h2>
            <p>The best place to get started is the <a href="api/v2/ui">API documentation</a>. To create ToLIDs, you'll need an API key from <a href="mailto:XXXXX">the ToLID team</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">What if the species is missing in the ToLID database?</h2>
            <p>The ToLID database contains all British angiosperms (BotSocBritIsles), all valid British taxa with taxonomy (NHM) and all “species” with sequence in INSDC. If a species is not in the database, an error message will be returned by the API. Please <a href="mailto:XXXXX">contact us</a> and we'll add it.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Maintained by <a href="https://sanger.ac.uk">Wellcome Sanger Institute</a> <a href="https://www.sanger.ac.uk/programme/tree-of-life/">Tree of Life programme</a></p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}s"></script>

</body>

</html>
